* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  padding: 16px;

}

.container__section-1 h2 {
    font-size: 2.4rem;
    color: hsl(300, 43%, 22%);
    text-align: center;
    width: 85%;
    margin: auto;
    font-weight: 700;
    line-height: 24px;
}

.container__section-1 > div > p{
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 18px;
    text-align: center;
}

.container__section-1-ranking{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    padding: 14px;
    margin: 10px 0px;
    border-radius: 8px;
}

.container__section-1-ranking p{
    color: hsl(300, 43%, 22%);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 8px;
}

.container__section-2-test{
    padding: 20px;
    background-color: hsl(300, 43%, 22%);
    margin: 10px 0px;
    border-radius: 6px;
}

.container__section-2-test-profile{
    display: flex;
    align-items: center;
}

.container__section-2-test-profile img{
  width:50px;
  border-radius: 100%;
  margin-right: 16px;
}

.container__section-2-test-profile h4{
  font-weight: 500;
  color: #fff;
}

.container__section-2-test-profile p{
  font-weight: 300;
  opacity: 0.9;
  color: hsl(333, 80%, 67%);
  font-size: 1.1rem;
  margin-top: 4px;
}

.container__section-2-test-text p{
  color: #fff;
  line-height: 18px;
  margin-top: 12px;
}

@media (min-width: 768px){
  .container__section-2-test-profile h4{
    font-size: 1.4rem;
  }
  .container__section-2-test-profile p{
    font-size: 1.2rem;
  }
  .container__section-2-test-text p{
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px){

  .container{
    height: 100vh;
  }
  .container__section-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  

  .container__section-1 h2{
    font-size: 3.4rem;
    line-height: 32px;
    margin: 0;
    text-align: left;
  }

  .container__section-1 > div > p{
    text-align: left;
    font-size: 1.6rem;
  }

  .container__section-1-main-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 40%;
  }

  .container__section-1-ranking{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
  }

  .container__section-1-ranking:nth-of-type(1){
    align-self: flex-start;
  }

  
  .container__section-1-ranking:nth-of-type(2){
    align-self: center;
  }

  
  .container__section-1-ranking:nth-of-type(3){
    align-self: flex-end;
  }

  .container__section-1-ranking p{
    margin: 0;
    margin-left: 18px;
  }

  .container__section-1-rankings{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
  }

  .container__section-2{
    display: flex;
    height: 220px;
    width: 80%;
  }

 

  /* .container__section-2-test{
    max-height: 170px;
  } */
  .container__section-2-test:first-child{
    align-self: flex-start;
  }
  .container__section-2-test:nth-child(2){
    margin: 10px 10px;
    align-self: center;
  }

  .container__section-2-test:last-child{
    align-self: flex-end;
  }

  .container__section-2-test-text p{
    font-size: 1.2rem;
  }
}